.wrapper{
	@apply w-screen min-h-screen relative;
}

.wrapper > form{
	@apply w-max p-3 absolute left-6 top-6;
	animation: slideIn 2000ms ease-in-out ;

}

.wrapper > form > h1{
	@apply text-2xl mb-3;
}

.wrapper > form > input{
	@apply block py-1.5 px-3 rounded-md mb-3 w-full border border-transparent bg-black/30 placeholder:text-white/60 outline-none;
	transition: border-color 350ms linear;
}

.wrapper > form > input:focus{
	@apply border-[rgb(79,170,249)];
}

.wrapper > form > button{
	@apply text-lg font-medium uppercase py-1 px-4 border border-white rounded-md inline-block mt-2 bg-transparent;
	transition: box-shadow 400ms linear, background-color 400ms linear; 
}

.wrapper > form > button:hover{
	@apply  bg-white/20;
}

.success{
	@apply text-white text-2xl font-medium m-auto;
	animation: fade 500ms;
}

@keyframes fade{
	from{
		opacity: 0;
	}
	
	to{
		opacity: 1;
	}
}

@keyframes slideIn{
	from{
		transform: translateX(-110%);
		opacity: 0;
	}

	to{
		transform: translateX(0);
		opacity: 1;
	}
}